<footer id="footer" class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col" align="center">
                &copy; Copyright <strong>Raven</strong>. All Rights Reserved.</div>
            </div>
        </div>
    </div>
</footer>
