<!DOCTYPE html>
<html>
	<body>
		<p>
			Raven Stable Repository v{{version}}
		</p>
		<p>
			API endpoints:<br>
			<ul>
				<li><a href="/pull">/pull</a></li>
				<li><a href="/download/<category>/<package>">/download/&lt;category&gt;/&lt;package&gt;</xmp></a></li>
			</ul>
		</p>
		</body>
</html>
